header, footer {
  margin: 3%;
  padding: 3%;
  border: 1px;
  border-color: black;
  text-align: center;
  border-style: solid;
  
}
header p:first-letter {
  font-size: 200%;
}

.column-1, .column-2 {
  display: inline-block;
  vertical-align: top;
  width: 44%;
  margin: 1%;
  padding: 1%;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  height: 600px;
  overflow: scroll;
  background-color: lightgrey;
  
}

body {
  font-style: helvetica;
  
}
@media screen and (max-width: 200px) {
  display:block;
}
