body {
  display: block;
  max-width: 960px;
  margin: 0 auto;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}


#external-links {
  float: left;
  display: block;
  width: 20%;
  position: relative;
  vertical-align: top;

}

main {
  width: 80%;
  float: left;
}

#external-links ul {
  list-style-type: none;
  padding-left: 1px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {ß
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}
@media screen and (max-width: 500px) 
{
  body {
    font-size: : 12px;
  }
  main {
  width: 100%;
  }
  #external-links {
    width: 100%
  }
}