


#octopus
{
  display: block;
  text-align: center;
  margin: 100px 0 auto 0;
  position: fixed;
  left: 40%;

}

#glasses 
{
  display: block;
  text-align: center;
  position: fixed;
  margin: 0px auto;
  top: 208px;
  left: 43%;
  z-index: 6
} 
#hat 
{

  display: block;
  text-align: center;
  margin: 0px auto;
  position: fixed;
  top: 45px;
  left: 38.5%;
  z-index: 7;
}