* { outline: 1px solid red; }


#octopus
{
  display: block;
  text-align: center;
  margin: 100px 0 auto 0;
  position: relative;


}

#glasses 
{
  display: block;
  text-align: center;
  position: relative;
  margin: 0px auto;
  z-index: 6
} 
#hat 
{

  display: block;
  text-align: center;
  margin: 0px auto;
  position: fixed;
  top: 10px;
  left: 44%;
  z-index: 7;
}